<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html">
    <title>Login</title>
</head>
<body>
<center>
    <h1>用户登录</h1>
    <form method="post" action="/login/tologin">
        <label>用户名&nbsp;:</label><input id="username" name="username" type="text"/><br/>
        <label>密&nbsp;&nbsp;码:</label><input id="password" name="password" type="password"/><br/>
        <p name="logmsg" id="logmsg" th:text="${logmsg}"></p>
        <input type="submit"/>
    </form>
    <a href="/user/register">注册</a>
</center>
<script src="js/jquery-3.1.1.js"></script>
</body>
</html>