.App {
  text-align: center;
}

.App-logo {
  width:70px;
  height:70px;

}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;

}

.video{
  height: 400px;
  width: 730px;
}

.ssmap{
  text-align: center;
}

.znz{
  width: 10%;
  height: 10%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sLink{
  color: aliceblue;
  font-size: large;
}

.center{text-align: center}
.vvideo{
  text-align: center;
}

.mycanvas{
    border:1px solid;

}